@charset "UTF-8";
@font-face {
    font-family: 'fonte-poema';
    src: url('../fontes/KGPrimaryItalics.ttf');
    font-weight: bold;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 200px;
  background-color: rgb(0, 0, 0);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
}
header h1{
  font-family: 'Secular One', sans-serif;
  font-size: 3em;
  color: white;
  padding-bottom: 10px;
}

header p{
  color: white;
  font-size: 1.2em;
}
header a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}
section{
  font-family: 'fonte-poema';
  font-size: 2em;
  line-height: 1.5;
}
.imagem{
  background-color: lightblue;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
}
.normal{
  padding-top: 120px;
  padding-bottom: 120px;
}