@charset "UTF-8";
@font-face {
    font-family: 'fonte-poema';
    src: url('../fontes/KGPrimaryItalics.ttf');
    font-weight: bold;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

